.header_container{
margin-bottom: 7rem;
}

.logout_btn{
width: 128px;
height: 48px;
font-family: 'Inter';
font-style: normal;
font-weight: 100;
font-size: 1rem;
line-height: 20px;
background: #9BFF00;
border-radius: 40px
}

.title{
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 48px;
color: white;
}